.card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px 12px 48px;
    border: 1px solid black;
    border-radius: 4px;
    flex: 1 1 0px;
    white-space: nowrap;
}

.card__close {
    background-color: transparent;
    border: none;
    font-size: 32px;
    line-height: 16px;
    color: red;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;

    &:hover {
        color: rgb(201, 43, 43);
    }

    &:active {
        color: rgb(128, 42, 42);
    }
}